body {
   display: grid;
   grid-template-columns: repeat(2, auto);
   grid-template-rows: 600px 80px;
}
#output-container {
   position: relative;
   height: 100%;
   border: 1px solid lightgray;
   overflow: scroll;
}
#scoreboard {
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 10;
   background-color: rgba(0, 0, 0, 0.4);
   font-size: 18;
   padding: 10 15;
   color: white;
}
.blockly-editor {
   border-bottom: 1px solid lightgray;
}
#run-button {
   height: 50px;
   width: 160px;
   background-color: rgb(24, 199, 33);
   border: none;
   cursor: pointer;
}
#run-button:hover {
   background-color: rgb(24, 166, 31);
}
#button-container {
   justify-self: center;
}
